{% extends "base.html" %}
{% block content %}
<h1>Загрузите PDF-документ</h1>
    {% if message %}
        <p style="color: green;">{{ message }}</p>
    {% endif %}
    <form action="{{ url_for('upload_pdf') }}" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept="application/pdf" required>
        <button type="submit">Загрузить</button>
    </form>
    
    <a href="{{ url_for('show_docs') }}">Показать документ</a>
    <a href="{{ url_for('delete_page') }}">Удалить документ</a>
{% endblock %}
